<h1>Labels &amp; Badges</h1>

<div class="ui-row">

  <div class="ui-grid-left">
    <h3>Labels <small>(6-components/_label.scss)</small></h3>
    <p>To mark up and inform, to aid the user experience.</p>
  </div>

  <div class="ui-grid-right">

    <h4>Labels </h4>
    <span class="c-lbl c-lbl-primary">{{lorem count="1" units="words"}}</span>
    <span class="c-lbl c-lbl-secondary">{{lorem count="1" units="words"}}</span>
    <br><br>

    <a class="c-lbl c-lbl-primary" href="">{{lorem count="1" units="words"}}</a>
    <a class="c-lbl c-lbl-secondary" href="">{{lorem count="1" units="words"}}</a>

    <br><br>

    <h4>Badges </h4>
    <span class="c-lbl c-lbl-primary c-lbl-bdg">{{randomrange 1 999}}</span>
    <span class="c-lbl c-lbl-secondary c-lbl-bdg">{{randomrange 1 999}}</span>
    <br><br>

    <a class="c-lbl c-lbl-primary c-lbl-bdg" href="">{{randomrange 1 999}}</a>
    <a class="c-lbl c-lbl-secondary c-lbl-bdg" href="">{{randomrange 1 999}}</a>

  </div>

</div>
