{{> partials/breadcrumb }}
<div class="row">
  <div class="col-12@xs col-7@md col-5@lg u-mar-t-medium product-images">
  <div class="o-product__slider" id="cascade-slider">
      <figure>
        <a href="./img-assets/product-1.jpg"  data-size="846x1184">
            <img src="./img-assets/product-1.jpg" />
            <div data-content="New" class="c-roundel c-roundel__pri c-roundel--custom roundel-pos-tl"></div>
            <div data-content="Top Right" class="c-roundel c-roundel__pri c-roundel--custom roundel-pos-tr"></div>
        </a>
        <div class="slick-zoom">
            <i class="icon icon-plus"></i>
        </div>
      </figure>
      <figure>
        <a href="./img-assets/product-2.jpg"  data-size="846x1184">
            <img src="./img-assets/product-2.jpg"/>
            <div data-content="New" class="c-roundel c-roundel__pri c-roundel--custom roundel-pos-tl"></div>
            <div data-content="Top Right" class="c-roundel c-roundel__pri c-roundel--custom roundel-pos-tr"></div>
        </a>
        <div class="slick-zoom">
            <i class="icon icon-plus"></i>
        </div>
      </figure>

      <figure>
        <a href="./img-assets/product-3.jpg"  data-size="846x1184">
            <img src="./img-assets/product-3.jpg"/>
            <div data-content="New" class="c-roundel c-roundel__pri c-roundel--custom roundel-pos-tl"></div>
            <div data-content="Top Right" class="c-roundel c-roundel__pri c-roundel--custom roundel-pos-tr"></div>
        </a>
        <div class="slick-zoom">
            <i class="icon icon-plus"></i>
        </div>
      </figure>

    </div>
    <div class="u-pad-t-medium">
      <div class="u-bgcolor-pri u-color-white u-pad-tiny u-font-ta-c u-font-upper">
        <strong>50% off</strong>
      </div>
    </div>
    <div class="u-pad-t-medium">
      <a class="c-btn c-btn-primary__alt  col-12@xs u-font-upper">
        <i class="icon icon-eye u-pad-r-huge icon--vertical-middle"></i>
        Get the Look
      </a>
    </div>

</div>


<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <div class="pswp__container">
            <!-- don't modify these 3 pswp__item elements, data is added later on -->
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <!-- <div class="arrow-container"><div class="main"></div></div> -->
        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>


                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

          </div>

        </div>

</div>

  <div class="col-12@xs col-5@md col-7@lg">
      <div class="row">
      <div class="col-12@xs">
        <div class="row u-mar-t-small">
          <div class="col-8@xs">
            <h2>Product Name</h2>
          </div>
          <div class="col-4@xs u-font-ta-r">
            <h2>£0.00</h2>
          </div>
        </div>
        <div class="row u-mar-t-small">
          <div class="col-8@xs">
            <span class="rating">
             <i class="icon icon-star-fill active"></i>
             <i class="icon icon-star-fill active"></i>
             <i class="icon icon-star-fill active"></i>
             <i class="icon icon-star-fill active"></i>
             <i class="icon icon-star-fill"></i>
           </span>
          </div>
          <div class="col-4@xs u-font-ta-r">
            <p>Was £0.00<br />Save £0.00</p>
          </div>
        </div>
        <div class="row">
          <div class="col-8@xs">
            <ul class="filter--colours u-pad-b-small">
              <li class="active" title="{{ randomcolour }} - ({{randomnum}})" ><div style="background-color:{{ randomcolour }}"></div></li>
              <li title="{{ randomcolour }} - ({{randomnum}})"><div style="background-color:{{ randomcolour }}"></div></li>
              <li title="{{ randomcolour }} - ({{randomnum}})"><div style="background-color:{{ randomcolour }}"></div></li>
            </ul>
          </div>
          <div class="col-4@xs u-font-ta-r">
            <p>Colour</p>
          </div>
        </div>
      </div>
      <div class="u-cf">
        <div class="col-12@xs col-9@lg u-mar-t-medium">
          <select class="col-12@xs u-pad-0 selectbox-full" placeholder="Size : Select Size">
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
          </select>
        </div>
        <div class="col-3@lg hidden@md-down  u-mar-t-medium">
          <a class="c-btn c-btn-primary__alt col-12@xs selectbox-full u-font-upper">Size Guide</a>
        </div>
      </div>
      <div class="col-6@xs col-4@lg u-mar-t-medium">
        <select class="col-12@xs u-pad-0 selectbox-full">
          <option>QTY : 1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
      <div class="col-6@xs hidden@lg-up u-mar-t-medium">
        <a class="c-btn c-btn-primary__alt col-12@xs selectbox-full u-font-upper">Size Guide</a>
      </div>
      <div class="col-12@xs col-8@lg u-mar-t-medium">
        <a class="c-btn c-btn-secondary__alt col-12@xs selectbox-full u-font-upper">
          <i class="icon icon-mini-bag u-pad-r-huge icon--vertical-middle"></i>Add to Bag
        </a>
      </div>
      <div class="col-12@xs u-mar-t-medium">
        <ul>
          <li>
            <i class="icon icon-small-tick icon--vertical"></i>
            <strong>Free</strong> standard home delivery on orders over £50
          </li>
          <li>
            <i class="icon icon-small-tick icon--vertical"></i>
            <strong>Free</strong> delivery to store - with click &amp; collect
          </li>
          <li>
            <i class="icon icon-small-tick icon--vertical"></i>
            <strong>Free</strong> returns to store
          </li>
        </ul>
      </div>


      <div class="col-12@lg u-mar-t-medium">
        <div class="c-tabs c-tabs--tab c-tabs--tab--horizontal c-tabs--responsive">

          <ul id="productDetailTabs" class="c-tabs__header" role="tablist">
            <li class="c-tabs__header__item">
              <a href="#information" data-toggle="tab" role="tab">Product Information</a>
            </li>
            <li class="c-tabs__header__item">
              <a href="#ratings" data-toggle="tab" role="tab">Ratings &amp; Reviews</a>
            </li>
            <li class="c-tabs__header__item">
              <a href="#delivery" data-toggle="tab" role="tab">Delivery &amp; Returns</a>
            </li>
          </ul>


          <ul class="c-tabs__content">

            <li role="tabpanel-title" class="c-tabs__header__item--accord">
              <a href="#information" data-toggle="tab" role="tab">Product Information</a>
              <i class="icon icon-plus icon--vertical-right"></i>
              <i class="icon icon-minus icon--vertical-right"></i>
            </li>
            <li role="tabpanel" class="c-tabs__content__pane" id="information">
              Product information content - {{lorem count=100}}
            </li>

            <li role="tabpanel-title" class="c-tabs__header__item--accord">
              <a href="#ratings" data-toggle="tab" role="tab">Ratings &amp; Reviews</a>
              <i class="icon icon-plus icon--vertical-right"></i>
              <i class="icon icon-minus icon--vertical-right"></i>
            </li>
            <li role="tabpanel" class="c-tabs__content__pane" id="ratings">
              Ratings &amp; Reviews content - {{lorem count=50}}
            </li>

            <li role="tabpanel-title" class="c-tabs__header__item--accord">
              <a href="#delivery" data-toggle="tab" role="tab">Delivery &amp; Returns</a>
              <i class="icon icon-plus icon--vertical-right"></i>
              <i class="icon icon-minus icon--vertical-right"></i>
            </li>
            <li role="tabpanel" class="c-tabs__content__pane" id="delivery">
              Delivery &amp; Returns content -{{lorem count=60}}
            </li>
          </ul>


        </div>
      </div>
      <div class="col-12@lg u-mar-t-medium u-cf">
        <!-- AddToAny BEGIN -->
          <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
            <a class="a2a_button_facebook"></a>
            <a class="a2a_button_twitter"></a>
            <a class="a2a_button_google_plus"></a>
            <a class="a2a_button_email"></a>
            <a class="a2a_button_pinterest"></a>
          </div>
          <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
        <!-- AddToAny END -->
      </div>
    </div>
    <div class="col-12@xs hidden@md-up u-pad-h-0">
      <div class="u-mar-t-medium">
        <a class="c-btn c-btn-primary__alt  col-12@xs u-font-upper">
         Back To Top
        </a>
      </div>
    </div>
  </div>
</div>