{{> partials/breadcrumb }}
<div class="row">
    <div class="col-12@xs col-7@md col-5@lg u-mar-t-medium product-images">
        <div class="o-product__slider" id="cascade-slider">
            <figure>
                <a href="./img-assets/product-1.jpg" data-size="846x1184">
                    <img src="./img-assets/product-1.jpg" data-lazy="./img-assets/product-1.jpg" alt="" />
                    <img src="img/roundel/plp-size1828.svg" class="c-roundel c-roundel__pri c-roundel--custom roundel-pos-tl" />
                    <img src="img/roundel/test-roundel.svg" class="c-roundel c-roundel__pri c-roundel--custom roundel-pos-tr" />
                </a>
                <div class="slick-zoom">
                    <i class="icon icon-plus"></i>
                </div>
            </figure>
            <figure>
                <a href="./img-assets/product-2.jpg" data-size="846x1184">
                    <img src="./img-assets/product-2.jpg" data-lazy="./img-assets/product-2.jpg" alt="" />
                    <img src="img/roundel/plp-size1828.svg" class="c-roundel c-roundel__pri c-roundel--custom roundel-pos-tl" />
                    <img src="img/roundel/test-roundel.svg" class="c-roundel c-roundel__pri c-roundel--custom roundel-pos-tr" />
                </a>
                <div class="slick-zoom">
                    <i class="icon icon-plus"></i>
                </div>
            </figure>
            <figure>
                <a href="./img-assets/product-3.jpg" data-size="846x1184">
                    <img src="./img-assets/product-3.jpg" data-lazy="./img-assets/product-3.jpg" alt="" />
                    <img src="img/roundel/plp-size1828.svg" class="c-roundel c-roundel__pri c-roundel--custom roundel-pos-tl" />
                    <img src="img/roundel/test-roundel.svg" class="c-roundel c-roundel__pri c-roundel--custom roundel-pos-tr" />
                </a>
                <div class="slick-zoom">
                    <i class="icon icon-plus"></i>
                </div>
            </figure>
        </div>
        <div class="u-pad-t-medium">
            <div class="c-btn c-btn--icon c-btn--block c-btn-secondary o-form__label-option">
                <strong>50% off</strong>
            </div>
        </div>
        <div class="u-pad-t-medium">
            <a class="c-btn c-btn--icon c-btn--block c-btn-primary">
                <i class="icon icon-eye"></i> Get the Look
            </a>
        </div>
    </div>
    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <!-- Background of PhotoSwipe.
         It's a separate element, as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>
        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">
            <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
            <div class="pswp__container">
                <!-- don't modify these 3 pswp__item elements, data is added later on -->
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <!--  Controls are self-explanatory. Order can be changed. -->
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>
                <!-- <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button> -->
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12@xs col-5@md col-7@lg">
        <div class="row">
            <div class="col-12@xs">
                <div class="row u-mar-t-small">
                    <div class="col-6@xs">
                        <h2 class="o-product-detail__title">Product Name</h2>
                        <small class="small u-mar-b-0">Product ID: 123445</small>
                    </div>
                    <div class="col-6@xs u-font-ta-r">
                        <h2 class="o-product-detail__title">&pound;1.00 to &pound;19.00</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6@xs">
                        <div class="rating" data-rating="3">
                        </div>
                    </div>
                    <div class="col-6@xs u-font-ta-r">
                        <p>Was &pound;2.00 to &pound;20.00</p>
                        <p>Save &pound;20.00</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8@xs">
                        <ul class="filter--colours u-pad-b-small">
                            <li class="active" title="{{ randomcolour }} - ({{randomnum}})">
                                <div style="background-color:{{ randomcolour }}"></div>
                            </li>
                            <li title="{{ randomcolour }} - ({{randomnum}})">
                                <div style="background-color:{{ randomcolour }}"></div>
                            </li>
                            <li title="{{ randomcolour }} - ({{randomnum}})">
                                <div style="background-color:{{ randomcolour }}"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4@xs u-font-ta-r">
                        <p>Colour</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row u-mar-t-medium">
            <div class="col-12@xs col-9@lg">
                <select value="Default message" class="js-product-select--size selectbox select-box__label-size">
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="large" disabled>Large - Out of Stock</option>
                    <option value="ewis-xlarge">X Large - Email When in stock</option>
                </select>
            </div>
            <div class="col-3@lg hidden@md-down">
                <a class="c-btn c-btn-primary c-btn--block u-font-upper">Size Guide</a>
            </div>
        </div>
        <div class="row u-mar-t-medium">
            <div class="col-6@xs col-4@lg js-ewis-hide">
                <select class="select-box__label-quantity">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
            <div class="col-6@xs hidden@lg-up">
                <a class="c-btn c-btn-primary c-btn--block  u-font-upper">Size Guide</a>
            </div>
            <div class="col-12@xs col-8@lg js-ewis-hide">
                <a class="c-btn c-btn--icon c-btn--block c-btn-secondary">
                    <i class="icon icon-minibag"></i> Add to Bag
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12@xs">
                <div id="dev-pdpworks--panel1" class="collapse u-mar-t-medium u-pad-b-0" role="tabpanel">
                    <div class="island">
                        <p>We're sorry but this item is not in stock. Register your email address and we'll let you know when it's available.</p>
                        <form class="o-form o-form--default" action="">
                            <div class="row">
                                <div class="col-12@xs col-4@lg">
                                    <div class="o-form__row u-pad-b-0">
                                        <div class="o-form__label-contain">
                                            <label class="o-form__label-primary">Full name:</label>
                                        </div>
                                        <div class="o-form__input-contain">
                                            <input type="text" class="o-input o-input--textual" placeholder="Full Name" required="">
                                            <span class="input__required">*</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12@xs col-5@lg">
                                    <div class="o-form__row u-pad-b-0">
                                        <div class="o-form__label-contain">
                                            <label class="o-form__label-primary">Email: </label>
                                        </div>
                                        <div class="o-form__input-contain">
                                            <input type="text" class="o-input o-input--textual" placeholder="Email address" required="">
                                            <span class="input__required">*</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12@xs col-3@lg">
                                    <div class="o-form__row u-pad-b-0">
                                        <div class="o-form__label-contain hidden@md-down">
                                            <label class="o-form__label-primary">&nbsp;</label>
                                        </div>
                                        <div class="o-form__input-contain">
                                            <button type="submit" form="createAccountForm" class="c-btn c-btn-tertiary c-btn--block">Let&nbsp;me&nbsp;know</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12@xs u-mar-t-small">
                <ul class="o-list__tick">
                    <li>
                        <strong>Free</strong> standard home delivery on orders over £50
                    </li>
                    <li>
                        <strong>Free</strong> delivery to store - with click &amp; collect
                    </li>
                    <li>
                        <strong>Free</strong> returns to store
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12@lg u-mar-t-medium">
                <div class="c-tabs c-tabs--tab c-tabs--tab--horizontal c-tabs--responsive">
                    <ul id="productDetailTabs" class="c-tabs__header" role="tablist">
                        <li class="c-tabs__header__item">
                            <a href="#information" data-toggle="tab" role="tab">Product Information</a>
                        </li>
                        <li class="c-tabs__header__item">
                            <a href="#ratings" data-toggle="tab" role="tab">Ratings &amp; Reviews</a>
                        </li>
                        <li class="c-tabs__header__item">
                            <a href="#delivery" data-toggle="tab" role="tab">Delivery &amp; Returns</a>
                        </li>
                    </ul>
                    <ul class="c-tabs__content">
                        <li role="tabpanel-title" class="c-tabs__header__item--accord accord--active">
                            <a href="#information" data-toggle="tab" role="tab">Product Information
                <i class="icon icon-plus icon--vertical-right"></i>
              <i class="icon icon-minus icon--vertical-right"></i>
              </a>
                        </li>
                        <li role="tabpanel" class="c-tabs__content__pane" id="information">
                            Product information content - {{lorem count=100}}
                        </li>
                        <li role="tabpanel-title" class="c-tabs__header__item--accord">
                            <a href="#ratings" data-toggle="tab" role="tab">Ratings &amp; Reviews
              <i class="icon icon-plus icon--vertical-right"></i>
              <i class="icon icon-minus icon--vertical-right"></i>
              </a>
                        </li>
                        <li role="tabpanel" class="c-tabs__content__pane" id="ratings">
                            Ratings &amp; Reviews content - {{lorem count=50}}
                        </li>
                        <li role="tabpanel-title" class="c-tabs__header__item--accord">
                            <a href="#delivery" data-toggle="tab" role="tab">Delivery &amp; Returns
                <i class="icon icon-plus icon--vertical-right"></i>
              <i class="icon icon-minus icon--vertical-right"></i>
              </a>
                        </li>
                        <li role="tabpanel" class="c-tabs__content__pane" id="delivery">
                            Delivery &amp; Returns content -{{lorem count=60}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12@lg u-mar-t-medium u-cf">
                <!-- AddToAny BEGIN -->
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                    <a class="a2a_button_facebook"></a>
                    <a class="a2a_button_twitter"></a>
                    <a class="a2a_button_google_plus"></a>
                    <a class="a2a_button_email"></a>
                    <a class="a2a_button_pinterest"></a>
                </div>
                <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
                <!-- AddToAny END -->
            </div>
        </div>
        <div class="col-12@xs hidden@md-up u-pad-h-0">
            <div class="u-mar-t-medium">
                <a class="c-btn c-btn-primary  col-12@xs u-font-upper">
         Back To Top
        </a>
            </div>
        </div>
    </div>
</div>
