{{> partials/breadcrumb }}
<div class="row">
  <div class="search-results__side">
    {{> parcels/search-filters }}
  </div>
  <div class="search-results__main search-results__tight">
    <div class="o-category-container u-font-ta-c">
      <div class="o-category-container__banner u-pad-v-huge u-mar-b-medium">
        <h2 class="u-font-upper">{{productspartywear.category.catTitle}}</h2>
      </div>
      <p>{{productspartywear.category.catDescription}}</p>
      <ul class="o-list-inline-full u-mar-v-huge">
        {{#each productspartywear.category.catOtherLinks}}
          <li><a class="link--underline" href="{{{@value}}}">{{{@key}}}</a></li>
        {{/each}}
      </ul>
      <style>
        .o-category-container__banner {
          background-image: url('./img/banner.jpg');
          background-size: cover;
        }
      </style>
    </div>

    {{> partials/search-header }}

    <div class="search-results--inner row">
      {{#each productspartywear.category.collection.products}}
      <div class="search-results--item u-font-ta-c u-mar-b-medium">
        <div class="results__image">
          <a href="{{ productLink }}"><img class="img"  src="{{productImages.[0]}}" onmouseover="this.src='{{productImages.[1]}}'" onmouseout="this.src='{{productImages.[0]}}'"></a>
          <div data-content="{{promotionText}}" class="c-roundel c-roundel__pri c-roundel--custom roundel-pos-{{promotionPosition}}"></div>
        </div>
        <div class="results__detail">

          <div class="u-mar-v-small"><h4>{{productTitle}}</h4></div>
          <div class=" u-font-wb u-mar-t-a">{{productPrice}}</div>
          <div class="u-mar-b-small rating rating__small u-mar-v-small">
            <i class="icon icon-star-fill {{ isactive productRating 0 }}"></i>
            <i class="icon icon-star-fill {{ isactive productRating 1 }}"></i>
            <i class="icon icon-star-fill {{ isactive productRating 2 }}"></i>
            <i class="icon icon-star-fill {{ isactive productRating 3 }}"></i>
            <i class="icon icon-star-fill {{ isactive productRating 4 }}"></i>
          </div>
          <a class="c-btn c-btn-tertiary--alt c-btn--small hidden@md-down u-mar-v-small">More Colours Available</a>
        </div>
      </div>
      {{/ each }}
    </div>
    {{> partials/search-footer }}
  </div>
</div>
