<div class="row">
  <div class="col-12@xs">
    <ul class="c-breadcrumb-bar u-pad-v-large">
      <li class="c-breadcrumb-bar__item has-link"><a href="">Matalan</a></li>
        <li class="c-breadcrumb-bar__item has-link"><a href="">{{productspartywear.secTitle}}</a></li>
        <li class="c-breadcrumb-bar__item">
            {{productspartywear.category.catTitle}}
        </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="search-results__side">
    {{> parcels/search-filters }}
  </div>
  <div class="search-results__main search-results__tight">
    <div class="o-category-container u-font-ta-c">
      <h2 class="u-font-upper u-mar-b-huge">{{productspartywear.category.catTitle}}</h2>
      <p>{{productspartywear.category.catDescription}}</p>
      <ul class="o-list-inline-full u-mar-v-huge">
        {{#each productspartywear.category.catOtherLinks}}
          <li><a href="{{{@value}}}">{{{@key}}}</a></li>
        {{/each}}
      </ul>
    </div>

    {{> partials/filter-follow-bar }}

    <div class="search-results--inner row">
      {{#each productspartywear.category.collection.products}}
      <div class="search-results--item u-font-ta-c u-mar-b-huge">
        <div class="results__image">
          <img class="img"  src="{{productImages.[0]}}" onmouseover="this.src='{{productImages.[1]}}'" onmouseout="this.src='{{productImages.[0]}}'">
          <div data-content="{{promotionText}}" class="c-roundel c-roundel__pri c-roundel--custom roundel-pos-{{promotionPosition}}"></div>
        </div>
        <div class="results__detail">

          <div class="u-mar-v-small">{{productTitle}}</div>
          <div class=" u-font-wb u-mar-t-a">{{productPrice}}</div>
          <a href="{{ productLink }}" class="c-btn c-btn-primary__alt u-mar-v-small hidden@lg-down">View</a>
          <div class="u-mar-b-small rating rating__small">
            <i class="icon icon-star-fill {{ isactive productRating 0 }}"></i>
            <i class="icon icon-star-fill {{ isactive productRating 1 }}"></i>
            <i class="icon icon-star-fill {{ isactive productRating 2 }}"></i>
            <i class="icon icon-star-fill {{ isactive productRating 3 }}"></i>
            <i class="icon icon-star-fill {{ isactive productRating 4 }}"></i>
          </div>
          <a class="c-btn c-btn-tertiary--alt c-btn--small hidden@lg-down u-mar-v-small">More Colours Available</a>
        </div>
      </div>
      {{/ each }}
    </div>
    <div class="search-results__footer u-fr">
      <div class="c-pagination-bar">
        <div class="c-pagination-bar__list">
          <a href="" class="c-btn c-btn-paginate">View All</a>
          <a href="" class="c-btn c-btn-paginate">1</a>
          <a href="" class="c-btn c-btn-paginate">2</a>
          <a href="" class="c-btn c-btn-paginate">3</a>
          <a href="" class="c-btn c-btn-paginate">4</a>
          <a href="" class="c-btn c-btn-paginate">5</a>
          <a href="" class="c-btn c-btn-paginate__alt">&raquo;</a>
        </div>
      </div>
    </div>
  </div>
</div>
