{{> partials/breadcrumb }}
<div class="row">
  <div class="col-12@xs col-6@md col-5@lg u-mar-b-large">
    <div class="hidden@md-up">
    <h3>Pinstripe Blue</h3>
    <div class="separator"></div>
    </div>
     <img src="./img-assets/search-5-alt.jpg" />
  </div>
  <div class="col-12@xs col-6@md col-7@lg">
    <div class="hidden@sm-down">
    <h3>Pinstripe Blue</h3>
    <div class="separator"></div>
    </div>
      <div class="row u-pad-h-medium">
        <div class="col-12@xs u-mar-v-small o-product-suite__slider">
          <div class="o-product-suite__slick">
          {{#each departmentmenu}}
              <div class="o-product-suite__outer">
                <div class="o-product-suite__inner">
                  <div class="col-3@xs col-2@lg u-pad-0">
                    <img class="img" src="./img-assets/search-4.jpg">
                  </div>
                  <div class="col-9@xs col-10@lg">
                    <div class="row">
                       <div class="col-12@xs">
                         <div class="row">
                            <div class="col-8@xs">
                              <h4>Product Name</h4>
                            </div>
                            <div class="col-4@xs u-font-ta-r u-pad-r-0">
                              <h4><strong>£0.00</strong></h4>
                            </div>
                          </div>
                       </div>
                       <div class="col-7@xs u-mar-t-small">
                        <ul class="filter--colours u-pad-b-small">
                          <li class="active" title="{{ randomcolour }} - ({{randomnum}})" ><div style="background-color:{{ randomcolour }}"></div></li>
                          <li title="{{ randomcolour }} - ({{randomnum}})"><div style="background-color:{{ randomcolour }}"></div></li>
                          <li title="{{ randomcolour }} - ({{randomnum}})"><div style="background-color:{{ randomcolour }}"></div></li>
                        </ul>
                      </div>
                      <div class="col-5@xs u-font-ta-r u-pad-r-0 u-mar-t-small">
                        <p><strong>Colour:</strong> Colour</p>
                      </div>
                       <div class="u-cf">
                        <div class="col-12@xs col-8@lg u-mar-t-small u-pad-r-0">
                          <select class="col-12@xs u-pad-0 selectbox-full select-box__label-size">
                            <option>Small</option>
                            <option>Medium</option>
                            <option>Large</option>
                          </select>
                        </div>
                        <div class="col-4@lg hidden@md-down  u-mar-t-small u-pad-r-0">
                          <a class="c-btn c-btn-primary col-12@xs selectbox-full u-font-upper">Size Guide</a>
                        </div>
                      </div>
                      <div class="col-6@xs col-4@lg u-mar-t-small u-pad-r-0">
                        <select class="col-12@xs u-pad-0 selectbox-full select-box__label-quantity">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                        </select>
                      </div>
                      <div class="col-6@xs hidden@lg-up u-mar-t-small u-pad-r-0">
                        <a class="c-btn c-btn-primary col-12@xs selectbox-full u-font-upper">Size Guide</a>
                      </div>
                      <div class="col-12@xs col-8@lg u-mar-t-small u-pad-r-0">
                        <a class="c-btn c-btn--icon c-btn--block c-btn-secondary">
                          <i class="icon icon-mini-bag"></i>
                          Add to Bag
                        </a>
                      </div>

                      </div>
                    </div>


                </div>
              </div>
              {{/each}}
          </div>
      </div>
      <div class="col-12@xs u-mar-v-small o-product-suite__slider">

          <div class="o-product-suite__slick">
          {{#each departmentmenu}}
              <div class="o-product-suite__outer">
                <div class="o-product-suite__inner">
                  <div class="col-3@xs col-2@lg u-pad-0">
                    <img class="img" src="./img-assets/search-5.jpg">
                  </div>
                  <div class="col-9@xs col-10@lg">
                    <div class="row">
                       <div class="col-12@xs">
                         <div class="row">
                            <div class="col-8@xs">
                              <h4>Product Name</h4>
                            </div>
                            <div class="col-4@xs u-font-ta-r u-pad-r-0">
                              <h4><strong>£0.00</strong></h4>
                            </div>
                          </div>
                       </div>
                       <div class="col-7@xs u-mar-t-small">
                        <ul class="filter--colours u-pad-b-small">
                          <li class="active" title="{{ randomcolour }} - ({{randomnum}})" ><div style="background-color:{{ randomcolour }}"></div></li>
                          <li title="{{ randomcolour }} - ({{randomnum}})"><div style="background-color:{{ randomcolour }}"></div></li>
                          <li title="{{ randomcolour }} - ({{randomnum}})"><div style="background-color:{{ randomcolour }}"></div></li>
                        </ul>
                      </div>
                      <div class="col-5@xs u-font-ta-r u-pad-r-0 u-mar-t-small             ">
                        <p><strong>Colour:</strong> Colour</p>
                      </div>
                       <div class="u-cf">
                        <div class="col-12@xs col-8@lg u-mar-t-small u-pad-r-0">
                          <select class="col-12@xs u-pad-0 selectbox-full select-box__label-size" placeholder="Size : Select Size">
                            <option>Small</option>
                            <option>Medium</option>
                            <option>Large</option>
                          </select>
                        </div>
                        <div class="col-4@lg hidden@md-down  u-mar-t-small u-pad-r-0">
                          <a class="c-btn c-btn-primary col-12@xs selectbox-full u-font-upper">Size Guide</a>
                        </div>
                      </div>
                      <div class="col-6@xs col-4@lg u-mar-t-small u-pad-r-0">
                        <select class="col-12@xs u-pad-0 selectbox-full select-box__label-quantity">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                        </select>
                      </div>
                      <div class="col-6@xs hidden@lg-up u-mar-t-small u-pad-r-0">
                        <a class="c-btn c-btn-primary col-12@xs selectbox-full u-font-upper">Size Guide</a>
                      </div>
                      <div class="col-12@xs col-8@lg u-mar-t-small u-pad-r-0">
                        <a class="c-btn c-btn--icon c-btn--block c-btn-secondary">
                          <i class="icon icon-mini-bag"></i>
                          Add to Bag
                        </a>
                      </div>

                      </div>
                    </div>


                </div>
              </div>
              {{/each}}
          </div>
      </div>
      <div class="col-12@xs u-mar-v-small o-product-suite__slider">
          <div class="o-product-suite__slick">
          {{#each departmentmenu}}
              <div class="o-product-suite__outer">
                <div class="o-product-suite__inner">
                  <div class="col-3@xs col-2@lg u-pad-0">
                    <img class="img" src="./img-assets/search-8.jpg">
                  </div>
                  <div class="col-9@xs col-10@lg">
                    <div class="row">
                       <div class="col-12@xs">
                         <div class="row">
                            <div class="col-8@xs">
                              <h4>Product Name</h4>
                            </div>
                            <div class="col-4@xs u-font-ta-r u-pad-r-0">
                              <h4><strong>£0.00</strong></h4>
                            </div>
                          </div>
                       </div>
                       <div class="col-7@xs u-mar-t-small">
                        <ul class="filter--colours u-pad-b-small">
                          <li class="active" title="{{ randomcolour }} - ({{randomnum}})" ><div style="background-color:{{ randomcolour }}"></div></li>
                          <li title="{{ randomcolour }} - ({{randomnum}})"><div style="background-color:{{ randomcolour }}"></div></li>
                          <li title="{{ randomcolour }} - ({{randomnum}})"><div style="background-color:{{ randomcolour }}"></div></li>
                        </ul>
                      </div>
                      <div class="col-5@xs u-font-ta-r u-pad-r-0 u-mar-t-small             ">
                        <p><strong>Colour:</strong> Colour</p>
                      </div>
                       <div class="u-cf">
                        <div class="col-12@xs col-8@lg u-mar-t-small u-pad-r-0">
                          <select class="col-12@xs u-pad-0 selectbox-full select-box__label-size" placeholder="Size : Select Size">
                            <option>Small</option>
                            <option>Medium</option>
                            <option>Large</option>
                          </select>
                        </div>
                        <div class="col-4@lg hidden@md-down  u-mar-t-small u-pad-r-0">
                          <a class="c-btn c-btn-primary col-12@xs selectbox-full u-font-upper">Size Guide</a>
                        </div>
                      </div>
                      <div class="col-6@xs col-4@lg u-mar-t-small u-pad-r-0">
                        <select class="col-12@xs u-pad-0 selectbox-full select-box__label-quantity">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                        </select>
                      </div>
                      <div class="col-6@xs hidden@lg-up u-mar-t-small u-pad-r-0">
                        <a class="c-btn c-btn-primary col-12@xs selectbox-full u-font-upper">Size Guide</a>
                      </div>
                      <div class="col-12@xs col-8@lg u-mar-t-small u-pad-r-0">
                        <a class="c-btn c-btn--icon c-btn--block c-btn-secondary">
                          <i class="icon icon-mini-bag"></i>
                          Add to Bag
                        </a>
                      </div>

                      </div>
                    </div>


                </div>
              </div>
              {{/each}}
          </div>
      </div>
      <div class="col-12@xs u-mar-v-small o-product-suite__slider">
          <div class="o-product-suite__slick">
          {{#each departmentmenu}}
              <div class="o-product-suite__outer">
                <div class="o-product-suite__inner">
                  <div class="col-3@xs col-2@lg u-pad-0">
                    <img class="img" src="./img-assets/search-9.jpg">
                  </div>
                  <div class="col-9@xs col-10@lg">
                    <div class="row">
                       <div class="col-12@xs">
                         <div class="row">
                            <div class="col-8@xs">
                              <h4>Product Name</h4>
                            </div>
                            <div class="col-4@xs u-font-ta-r u-pad-r-0">
                              <h4><strong>£0.00</strong></h4>
                            </div>
                          </div>
                       </div>
                       <div class="col-7@xs u-mar-t-small">
                        <ul class="filter--colours u-pad-b-small">
                          <li class="active" title="{{ randomcolour }} - ({{randomnum}})" ><div style="background-color:{{ randomcolour }}"></div></li>
                          <li title="{{ randomcolour }} - ({{randomnum}})"><div style="background-color:{{ randomcolour }}"></div></li>
                          <li title="{{ randomcolour }} - ({{randomnum}})"><div style="background-color:{{ randomcolour }}"></div></li>
                        </ul>
                      </div>
                      <div class="col-5@xs u-font-ta-r u-pad-r-0 u-mar-t-small             ">
                        <p><strong>Colour:</strong> Colour</p>
                      </div>
                       <div class="u-cf">
                        <div class="col-12@xs col-8@lg u-mar-t-small u-pad-r-0">
                          <select class="col-12@xs u-pad-0 selectbox-full select-box__label-size" placeholder="Size : Select Size">
                            <option>Small</option>
                            <option>Medium</option>
                            <option>Large</option>
                          </select>
                        </div>
                        <div class="col-4@lg hidden@md-down  u-mar-t-small u-pad-r-0">
                          <a class="c-btn c-btn-primary col-12@xs selectbox-full u-font-upper">Size Guide</a>
                        </div>
                      </div>
                      <div class="col-6@xs col-4@lg u-mar-t-small u-pad-r-0">
                        <select class="col-12@xs u-pad-0 selectbox-full select-box__label-quantity">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                        </select>
                      </div>
                      <div class="col-6@xs hidden@lg-up u-mar-t-small u-pad-r-0">
                        <a class="c-btn c-btn-primary col-12@xs selectbox-full u-font-upper">Size Guide</a>
                      </div>
                      <div class="col-12@xs col-8@lg u-mar-t-small u-pad-r-0">
                        <a class="c-btn c-btn--icon c-btn--block c-btn-secondary">
                          <i class="icon icon-mini-bag"></i>
                          Add to Bag
                        </a>
                      </div>

                      </div>
                    </div>


                </div>
              </div>
              {{/each}}
          </div>
      </div>
    </div>
  </div>
</div>
