{{> partials/breadcrumb }}
<div class="row">
  <div class="col-12@xs col-6@md col-5@lg u-mar-b-large">
    <div class="hidden@md-up">
      <h3>Pinstripe Blue</h3>
      <div class="separator"></div>
    </div>
    <img src="./img-assets/search-5-alt.jpg" />
  </div>
  <div class="col-12@xs col-6@md col-7@lg">
    <div class="hidden@sm-down">
      <h3>Pinstripe Blue</h3>
      <div class="separator"></div>
    </div>
    <div class="row u-pad-h-medium">
      <div class="col-12@xs u-mar-v-small o-product-suite__slider">
        <div class="o-product-suite__slick">
          {{#each departmentmenu}}
          <div class="o-product-suite__outer">
            <div class="o-product-suite__inner">
              <div class="col-3@xs col-2@lg u-pad-0">
                <img class="img" src="./img-assets/search-4.jpg">
              </div>
              <div class="col-9@xs col-10@lg">
                <div class="row">
                  <div class="col-12@xs">
                    <div class="row">
                      <div class="col-8@xs">
                        <a href="pdp.html"><h4>Product Name</h4></a>
                      </div>
                      <div class="col-4@xs u-font-ta-r u-pad-r-0">
                        <h4>
                          <strong>£0.00</strong>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8@xs u-mar-t-small u-pad-r-0">
                    <ul class="filter__colours">
                      <li class="filter__colour active" data-toggle="tooltip" data-placement="top"
                        title="{{ randomcolour }} - ({{randomnum}})">
                        <div style="background-color:{{ randomcolour }}"></div>
                      </li>
                      <li class="filter__colour" data-toggle="tooltip" data-placement="top"
                        title="{{ randomcolour }} - ({{randomnum}})">
                        <div style="background-color:{{ randomcolour }}"></div>
                      </li>
                      <li class="filter__colour" data-toggle="tooltip" data-placement="top"
                        title="{{ randomcolour }} - ({{randomnum}})">
                        <div style="background-color:{{ randomcolour }}"></div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-4@xs u-font-ta-r u-pad-r-0 u-mar-t-small u-pad-l-0">
                    <p>
                      <strong class="hidden@md-down">Colour:</strong> Colour</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12@xs col-8@lg u-mar-t-small u-pad-r-0">
                    <select class="col-12@xs u-pad-0 select-box__label-size">
                      <option>Small</option>
                      <option>Medium</option>
                      <option>Large</option>
                    </select>
                  </div>
                  <div class="col-4@lg hidden@md-down  u-mar-t-small u-pad-r-0">
                    <a class="c-btn c-btn--primary col-12@xs u-font-upper">Size&nbsp;Guide</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6@xs col-4@lg u-mar-t-small u-pad-r-0">
                    <select class="col-12@xs u-pad-0 select-box__label-quantity">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                  </div>
                  <div class="col-6@xs hidden@lg-up u-mar-t-small u-pad-r-0">
                    <a class="c-btn c-btn--primary col-12@xs u-font-upper">Size&nbsp;Guide</a>
                  </div>
                  <div class="col-12@xs col-8@lg u-mar-t-small u-pad-r-0">
                    <a class="c-btn c-btn--icon c-btn--block c-btn--secondary">
                      <i class="icon icon-minibag"></i> Add to Bag
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="col-12@xs u-mar-v-small o-product-suite__slider">
        <div class="o-product-suite__slick">
          {{#each departmentmenu}}
          <div class="o-product-suite__outer">
            <div class="o-product-suite__inner">
              <div class="col-3@xs col-2@lg u-pad-0">
                <img class="img" src="./img-assets/search-4.jpg">
              </div>
              <div class="col-9@xs col-10@lg">
                <div class="row">
                  <div class="col-12@xs">
                    <div class="row">
                      <div class="col-8@xs">
                        <a href="pdp.html"><h4>Product Name</h4></a>
                      </div>
                      <div class="col-4@xs u-font-ta-r u-pad-r-0">
                        <h4><strong>£0.00</strong></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8@xs u-mar-t-small u-pad-r-0">
                    <ul class="filter__colours">
                      <li class="filter__colour active" data-toggle="tooltip" data-placement="top"
                        title="{{ randomcolour }} - ({{randomnum}})">
                        <div style="background-color:{{ randomcolour }}"></div>
                      </li>
                      <li class="filter__colour" data-toggle="tooltip" data-placement="top"
                        title="{{ randomcolour }} - ({{randomnum}})">
                        <div style="background-color:{{ randomcolour }}"></div>
                      </li>
                      <li class="filter__colour" data-toggle="tooltip" data-placement="top"
                        title="{{ randomcolour }} - ({{randomnum}})">
                        <div style="background-color:{{ randomcolour }}"></div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-4@xs u-font-ta-r u-pad-r-0 u-mar-t-small u-pad-l-0">
                    <p>
                      <strong class="hidden@md-down">Colour:</strong> Colour</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12@xs col-8@lg u-mar-t-small u-pad-r-0">
                    <select class="col-12@xs u-pad-0 select-box__label-size">
                      <option>Small</option>
                      <option>Medium</option>
                      <option>Large</option>
                    </select>
                  </div>
                  <div class="col-4@lg hidden@md-down  u-mar-t-small u-pad-r-0">
                    <a class="c-btn c-btn--primary col-12@xs u-font-upper">Size&nbsp;Guide</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6@xs col-4@lg u-mar-t-small u-pad-r-0">
                    <select class="col-12@xs u-pad-0 select-box__label-quantity">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                  </div>
                  <div class="col-6@xs hidden@lg-up u-mar-t-small u-pad-r-0">
                    <a class="c-btn c-btn--primary col-12@xs u-font-upper">Size&nbsp;Guide</a>
                  </div>
                  <div class="col-12@xs col-8@lg u-mar-t-small u-pad-r-0">
                    <a class="c-btn c-btn--icon c-btn--block c-btn--secondary">
                      <i class="icon icon-minibag"></i> Add to Bag
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="col-12@xs u-mar-v-small o-product-suite__slider">
        <div class="o-product-suite__slick">
          {{#each departmentmenu}}
          <div class="o-product-suite__outer">
            <div class="o-product-suite__inner">
              <div class="col-3@xs col-2@lg u-pad-0">
                <img class="img" src="./img-assets/search-4.jpg">
              </div>
              <div class="col-9@xs col-10@lg">
                <div class="row">
                  <div class="col-12@xs">
                    <div class="row">
                      <div class="col-8@xs">
                        <a href="pdp.html"><h4>Product Name</h4></a>
                      </div>
                      <div class="col-4@xs u-font-ta-r u-pad-r-0">
                        <h4>
                          <strong>£0.00</strong>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8@xs u-mar-t-small u-pad-r-0">
                    <ul class="filter__colours">
                      <li class="filter__colour active" data-toggle="tooltip" data-placement="top"
                        title="{{ randomcolour }} - ({{randomnum}})">
                        <div style="background-color:{{ randomcolour }}"></div>
                      </li>
                      <li class="filter__colour" data-toggle="tooltip" data-placement="top"
                        title="{{ randomcolour }} - ({{randomnum}})">
                        <div style="background-color:{{ randomcolour }}"></div>
                      </li>
                      <li class="filter__colour" data-toggle="tooltip" data-placement="top"
                        title="{{ randomcolour }} - ({{randomnum}})">
                        <div style="background-color:{{ randomcolour }}"></div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-4@xs u-font-ta-r u-pad-r-0 u-mar-t-small u-pad-l-0">
                    <p>
                      <strong class="hidden@md-down">Colour:</strong> Colour</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12@xs col-8@lg u-mar-t-small u-pad-r-0">
                    <select class="col-12@xs u-pad-0 select-box__label-size">
                      <option>Small</option>
                      <option>Medium</option>
                      <option>Large</option>
                    </select>
                  </div>
                  <div class="col-4@lg hidden@md-down  u-mar-t-small u-pad-r-0">
                    <a class="c-btn c-btn--primary col-12@xs u-font-upper">Size&nbsp;Guide</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6@xs col-4@lg u-mar-t-small u-pad-r-0">
                    <select class="col-12@xs u-pad-0 select-box__label-quantity">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                  </div>
                  <div class="col-6@xs hidden@lg-up u-mar-t-small u-pad-r-0">
                    <a class="c-btn c-btn--primary col-12@xs u-font-upper">Size&nbsp;Guide</a>
                  </div>
                  <div class="col-12@xs col-8@lg u-mar-t-small u-pad-r-0">
                    <a class="c-btn c-btn--icon c-btn--block c-btn--secondary">
                      <i class="icon icon-minibag"></i> Add to Bag
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="col-12@xs u-mar-v-small o-product-suite__slider">
        <div class="o-product-suite__slick">
          {{#each departmentmenu}}
          <div class="o-product-suite__outer">
            <div class="o-product-suite__inner">
              <div class="col-3@xs col-2@lg u-pad-0">
                <img class="img" src="./img-assets/search-4.jpg">
              </div>
              <div class="col-9@xs col-10@lg">
                <div class="row">
                  <div class="col-12@xs">
                    <div class="row">
                      <div class="col-8@xs">
                        <a href="pdp.html"><h4>Product Name</h4></a>
                      </div>
                      <div class="col-4@xs u-font-ta-r u-pad-r-0">
                        <h4>
                          <strong>£0.00</strong>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8@xs u-mar-t-small u-pad-r-0">
                    <ul class="filter__colours">
                      <li class="filter__colour active" data-toggle="tooltip" data-placement="top"
                        title="{{ randomcolour }} - ({{randomnum}})">
                        <div style="background-color:{{ randomcolour }}"></div>
                      </li>
                      <li class="filter__colour" data-toggle="tooltip" data-placement="top"
                        title="{{ randomcolour }} - ({{randomnum}})">
                        <div style="background-color:{{ randomcolour }}"></div>
                      </li>
                      <li class="filter__colour" data-toggle="tooltip" data-placement="top"
                        title="{{ randomcolour }} - ({{randomnum}})">
                        <div style="background-color:{{ randomcolour }}"></div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-4@xs u-font-ta-r u-pad-r-0 u-mar-t-small u-pad-l-0">
                    <p>
                      <strong class="hidden@md-down">Colour:</strong> Colour</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12@xs col-8@lg u-mar-t-small u-pad-r-0">
                    <select class="col-12@xs u-pad-0 select-box__label-size">
                      <option>Small</option>
                      <option>Medium</option>
                      <option>Large</option>
                    </select>
                  </div>
                  <div class="col-4@lg hidden@md-down  u-mar-t-small u-pad-r-0">
                    <a class="c-btn c-btn--primary col-12@xs u-font-upper">Size&nbsp;Guide</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6@xs col-4@lg u-mar-t-small u-pad-r-0">
                    <select class="col-12@xs u-pad-0 select-box__label-quantity">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                  </div>
                  <div class="col-6@xs hidden@lg-up u-mar-t-small u-pad-r-0">
                    <a class="c-btn c-btn--primary col-12@xs u-font-upper">Size&nbsp;Guide</a>
                  </div>
                  <div class="col-12@xs col-8@lg u-mar-t-small u-pad-r-0">
                    <a class="c-btn c-btn--icon c-btn--block c-btn--secondary">
                      <i class="icon icon-minibag"></i> Add to Bag
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
