<div class="row">
  <div class="col-12@xs">
    <ul class="c-breadcrumb-bar u-pad-v-large">
      <li class="c-breadcrumb-bar__item no-link">{{searchresults.secTitle}}</li>
      <li class="c-breadcrumb-bar__item no-link">{{searchresults.results.searchTerm}}</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="search-results__side">
    {{> parcels/search-filters }}
  </div>
  <div class="search-results__main search-results__tight">
    <h4>{{searchresults.results.searchTerm}}</h4>

    {{> partials/filter-follow-bar }}

    <div class="search-results--inner row">
      {{#each searchresults.results.products}}
      <div class="search-results--item u-font-ta-c u-mar-b-huge">
        <div class="results__image">
          <a href="{{ productLink }}"><img class="img"  src="{{productImages.[0]}}" onmouseover="this.src='{{productImages.[1]}}'" onmouseout="this.src='{{productImages.[0]}}'"></a>
          <div data-content="{{promotionText}}" class="c-roundel c-roundel__pri c-roundel--custom roundel-pos-{{promotionPosition}}"></div>
        </div>
        <div class="results__detail">

          <div class="u-mar-v-small">{{productTitle}}</div>
          <div class=" u-font-wb u-mar-t-a">{{productPrice}}</div>
          <a href="{{ productLink }}" class="c-btn c-btn-primary__alt u-mar-v-small hidden@md-down">View</a>
          <div class="u-mar-b-small rating rating__small">
            <i class="icon icon-star-fill {{ isactive productRating 0 }}"></i>
            <i class="icon icon-star-fill {{ isactive productRating 1 }}"></i>
            <i class="icon icon-star-fill {{ isactive productRating 2 }}"></i>
            <i class="icon icon-star-fill {{ isactive productRating 3 }}"></i>
            <i class="icon icon-star-fill {{ isactive productRating 4 }}"></i>
          </div>
          <a class="c-btn c-btn-tertiary--alt c-btn--small hidden@md-down u-mar-v-small">More Colours Available</a>
        </div>
      </div>
      {{/each }}
    </div>

    <div class="search-results__footer">

      <div class="c-pagination-bar hidden@md-down u-fr">
        <div class="c-pagination-bar__list">
          <a href="" class="c-btn c-btn-paginate">View All</a>
          <a href="" class="c-btn c-btn-paginate">1</a>
          <a href="" class="c-btn c-btn-paginate">2</a>
          <a href="" class="c-btn c-btn-paginate">3</a>
          <a href="" class="c-btn c-btn-paginate">4</a>
          <a href="" class="c-btn c-btn-paginate">5</a>
          <a href="" class="c-btn c-btn-paginate__alt">&raquo;</a>
        </div>
      </div>

      <div class="row pagination--dropdown hidden@lg-up">
        <div class="col-3@xs">
          <a href="" class="c-btn c-btn-block c-btn-primary__alt">
            <i class="icon icon-ui-back"></i>
            <span class="hidden@sm-down">Previous</span>
          </a>
        </div>
        <div class="selectbox__contain-mobile col-6@xs">
          <select id="pager" class="selectbox selectbox-full u-fl" >
            <option selected="selected" disabled="disabled">Page</option>
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="">5</option>
          </select>
        </div>
        <div class="col-3@xs">
          <a href="" class="c-btn c-btn-block c-btn-primary__alt">
            <span class="hidden@sm-down">Next</span>
            <i class="icon icon-ui-forward"></i>
          </a>
        </div>
      </div>


    </div>
  </div>
</div>
