<div class="row">
  <div class="col-xs-12">
    <ul class="c-breadcrumb-bar u-pad-v-large">
      <li class="c-breadcrumb-bar__item no-link">{{searchresults.secTitle}}</li>
      <li class="c-breadcrumb-bar__item no-link">{{searchresults.results.searchTerm}}</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="search-results--side">
    {{> parcels/search-filters }}
  </div>
  <div class="search-results--main search-results__tight">
    <h4>{{searchresults.results.searchTerm}}</h4>
    <div class="search-results--header u-cf">
      <div class="search--header--products col-xs-6 col-lg-3 hidden-lg-down">
        <p class="u-color-grey60 u-pad-t-medium">0 - 12 of 36 products</p>
      </div>
      <div class="search--header--pagination col-lg-5 hidden-lg-down u-pad-0">
        <div class="c-pagination-bar">
          <div class="c-pagination-bar__list u-fl">
            <a href="" class="c-btn c-btn-paginate">View All</a>
            <a href="" class="c-btn c-btn-paginate">1</a>
            <a href="" class="c-btn c-btn-paginate">2</a>
            <a href="" class="c-btn c-btn-paginate">3</a>
            <a href="" class="c-btn c-btn-paginate">4</a>
            <a href="" class="c-btn c-btn-paginate">5</a>
            <a href="" class="c-btn c-btn-paginate__alt">&raquo;</a>
          </div>
          <div class="results-layout">
            <a href="" class="js-results-tight u-font-no-underline u-mar-l-medium active">
              <i class="icon icon-ui-tight"></i>
              <i class="icon icon-ui-tight-o"></i>
            </a>
            <a href="" class="js-results-wide u-font-no-underline u-mar-l-small">
              <i class="icon icon-ui-wide"></i>
              <i class="icon icon-ui-wide-o"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="search--header--sort col-xs-6 col-lg-4">
        <div class="row">
          <div class="col-lg-3 hidden-lg-down u-font-ta-r u-pad-0">
            <label for="sortby" class="u-color-grey60 u-pad-t-medium u-dis-ib">
              <small>Sort By</small>
            </label>
          </div>
          <div class="col-xs-12 col-lg-9">
            <div>
              <select id="sortby" class="selectbox select-full">
                <option selected="selected" disabled="disabled">Sort By</option>
                <option value="">Price, High-Low</option>
                <option value="">Price, Low-High</option>
                <option value="">New Arrivals</option>
                <option value="">Best Sellers</option>
                <option value="">Customer Rating</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="search--header--filter col-xs-6 hidden-lg-up js-filters">

        <!-- <div> -->
          <a class="selectbox selectbox-fake">
            <span class="selectbox-label">Filter By</span>
            <span class="selectbox-arrow"><span class="caret"></span></span>
          </a>
        <!-- </div> -->

      </div>
    </div>
    <div class="search-results--inner row">
      {{#each searchresults.results.products}}
      <div class="search-results--item u-font-ta-c u-mar-b-huge">
        <div class="results--image">
          <img class="img"  src="{{productImages.[0]}}" onmouseover="this.src='{{productImages.[1]}}'" onmouseout="this.src='{{productImages.[0]}}'">
          <!--<div data-content="overlay 1" class="c-roundel c-roundel__pri c-roundel--custom roundel-pos-tl"></div>
          <div data-content="overlay 2" class="c-roundel c-roundel__pri c-roundel--custom roundel-pos-tr"></div>
          <div data-content="overlay 3" class="c-roundel c-roundel__pri c-roundel--custom roundel-pos-br"></div> -->
        </div>
        <div class="results--detail">

          <div class="u-mar-v-medium">{{productTitle}}</div>
          <div class="u-mar-v-medium u-font-wb  u-mar-t-a">{{productPrice}}</div>
          <div class="c-btn c-btn-primary__alt u-mar-v-medium hidden-lg-down">View</div>
          <div class="u-mar-v-medium rating rating__small">
            <i class="icon icon-star-fill {{ isactive productRating 0 }}"></i>
            <i class="icon icon-star-fill {{ isactive productRating 1 }}"></i>
            <i class="icon icon-star-fill {{ isactive productRating 2 }}"></i>
            <i class="icon icon-star-fill {{ isactive productRating 3 }}"></i>
            <i class="icon icon-star-fill {{ isactive productRating 4 }}"></i>
          </div>
          <a class="c-btn c-btn-tertiary--alt c-btn--small hidden-lg-down u-mar-v-medium u-mar-h-a">More Colours Available</a>
        </div>
      </div>
      {{/each }}
    </div>

    <div class="search-results--footer">

      <div class="c-pagination-bar hidden-lg-down u-fr">
        <div class="c-pagination-bar__list">
          <a href="" class="c-btn c-btn-paginate">View All</a>
          <a href="" class="c-btn c-btn-paginate">1</a>
          <a href="" class="c-btn c-btn-paginate">2</a>
          <a href="" class="c-btn c-btn-paginate">3</a>
          <a href="" class="c-btn c-btn-paginate">4</a>
          <a href="" class="c-btn c-btn-paginate">5</a>
          <a href="" class="c-btn c-btn-paginate__alt">&raquo;</a>
        </div>
      </div>

      <div class="row pagination--dropdown hidden-lg-up">
        <div class="col-xs-3">
          <a href="" class="c-btn c-btn-block c-btn-primary__alt">
            <i class="icon icon-arr-back"></i>
            <span class="hidden-md-down">Previous</span>
          </a>
        </div>
        <div class="selectbox--contain__mobile col-xs-6">
          <select id="pager" class="selectbox selectbox-full u-fl" >
            <option selected="selected" disabled="disabled">Page</option>
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="">5</option>
          </select>
        </div>
        <div class="col-xs-3">
          <a href="" class="c-btn c-btn-block c-btn-primary__alt">
            <span class="hidden-md-down">Next</span>
            <i class="icon icon-arr-forward"></i>
          </a>
        </div>
      </div>


    </div>
  </div>
</div>