<div class="o-filters-contain">
  <div class="o-filters">

    <div class="o-filters--header">
      <div class="u-cf">
        <h2 class="u-fl hidden-lg-up">Filter Products</h2>
        <h4 class="u-fl hidden-lg-down">Filter Products by:</h4>
        <a class="o-filters--close link u-font-ta-c u-fr hidden-lg-up">
          <i class="icon-ui-cross"></i>
          <div class="">Close</div>
        </a>
      </div>
    <div class="separator u-pad-0"></div>
    </div>

    <div class="o-filters--inner">
      <ul class="o-filters--list-contain">

        <li class="o-filters--list o-filters--list-item u-cf">
          <div class="o-filters--list-item--detail col-xs-12 col-md-12 col-lg-12 u-pad-h-none">
            <p class="filter--title collapse u-font-wb u-color-grey60">Filter Type<i class="icon-ui-plus"></i></p>
              <div class="o-form-input--contain o-option__block filter--list--checkbox auto-column__medium">
                {{# times 10 }}
                <label class="o-form-label o-form-label__option u-color-grey60">
                  <input type="checkbox">
                  <span></span>
                  Option {{ this }} ({{ randomnum }})
                </label>
                {{/ times }}
                <a class="filters--show-more u-color-grey60" href="#">Show more</a>
              </div>
          </div>
        </li>

        <li class="o-filters--list o-filters--list-item u-cf">
          <div class="o-filters--list-item--detail col-xs-12 col-sm-12 col-md-12 col-lg-12 u-pad-h-none">
            <p class="filter--title collapse u-font-wb u-color-grey60">Colours<i class="icon-ui-plus"></i></p>
            <ul class="filter--colours u-pad-b-small">
              {{# times 20 }}
              <li style="background-color:{{ randomcolour }}"></li>
              {{/ times }}
            </ul>
          </div>
        </li>

        <li class="o-filters--list o-filters--list-item u-cf">
          <div class="o-filters--list-item--detail col-xs-12 col-md-12 col-lg-12 u-pad-h-none">
            <p class="filter--title collapse u-font-wb u-color-grey60">Rating<i class="icon-ui-plus"></i></p>
            <div class="o-form-input--contain o-option__block filter--list--checkbox auto-column__medium ">
              <label class="o-form-label o-form-label__option">
                <input type="checkbox">
                <span></span>
                <div class="rating rating__inline">
                  <i class="icon-star active"></i>
                  <i class="icon-star active"></i>
                  <i class="icon-star active"></i>
                  <i class="icon-star active"></i>
                  <i class="icon-star active"></i>
                </div>
              </label>
              <label class="o-form-label o-form-label__option">
                <input type="checkbox">
                <span></span>
                <div class="rating rating__inline">
                  <i class="icon-star active"></i>
                  <i class="icon-star active"></i>
                  <i class="icon-star active"></i>
                  <i class="icon-star active"></i>
                  <i class="icon-star"></i>
                </div>
              </label>
              <label class="o-form-label o-form-label__option">
                <input type="checkbox">
                <span></span>
                <div class="rating rating__inline">
                  <i class="icon-star active"></i>
                  <i class="icon-star active"></i>
                  <i class="icon-star active"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                </div>
              </label>
              <label class="o-form-label o-form-label__option">
                <input type="checkbox">
                <span></span>
                <div class="rating rating__inline">
                  <i class="icon-star active"></i>
                  <i class="icon-star active"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                </div>
              </label>
              <label class="o-form-label o-form-label__option">
                <input type="checkbox">
                <span></span>
                <div class="rating rating__inline">
                  <i class="icon-star active"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                </div>
              </label>
              <label class="o-form-label o-form-label__option">
                <input type="checkbox">
                <span></span>
                <div class="rating rating__inline">
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                </div>
              </label>
            </div>

          </div>
        </li>
        <li class="o-filters--list o-filters--list-item u-cf">
          <div class="o-filters--list-item--detail col-xs-12 col-md-12 col-lg-12 u-pad-h-none">
            <p class="filter--title collapse u-font-wb u-color-grey60">Price<i class="icon-ui-plus"></i></p>
            <div id="filters--range" class="filters--range">
              <span class="filters--range-value-left u-color-grey60" id="slider-value-lower">20</span>
              <span class="filters--range-value-right u-color-grey60" id="slider-value-upper">80</span>
            </div>
          </div>
        </li>
        <li class="o-filters--list o-filters--list-item u-cf">
          <div class="o-filters--list-item--detail col-xs-12 col-md-12 col-lg-12 u-pad-h-none">
            <p class="filter--title collapse u-font-wb u-color-grey60">Price - Alternative<i class="icon-ui-plus"></i></p>
              <div class="o-form-input--contain o-option__block filter--list--checkbox auto-column__medium">
                <label class="o-form-label o-form-label__option u-color-grey60">
                  <input type="radio" name="priceRange">
                  <span></span>
                  £0 - £10 ({{ randomnum }})
                </label>
                <label class="o-form-label o-form-label__option u-color-grey60">
                  <input type="radio" name="priceRange">
                  <span></span>
                  £10 - £20 ({{ randomnum }})
                </label>
                <label class="o-form-label o-form-label__option u-color-grey60">
                  <input type="radio" name="priceRange">
                  <span></span>
                  £20 - £30 ({{ randomnum }})
                </label>
                <label class="o-form-label o-form-label__option u-color-grey60">
                  <input type="radio" name="priceRange">
                  <span></span>
                  £30 - £40 ({{ randomnum }})
                </label>
                <label class="o-form-label o-form-label__option u-color-grey60">
                  <input type="radio" name="priceRange">
                  <span></span>
                  £40 - £50 ({{ randomnum }})
                </label>
              </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>