<div class="o-section">
  {{# times 1 }}
  <div class="o-section--item o-section--item--full o-section--bg o-section--full-{{ this }} col-xs-12 col-md-12 u-font-ta-c u-mar-b-small">
    <div class="o-section-detail--outer o-section--detail--center">
      <div class="o-section--detail">
        <div class="o-section--detail-title u-mar-v-medium u-font-wb">{{lorem count=5}}</div>
        <a class="o-section-detail--link">{{ lorem }}</a>
        <a class="o-section-detail--link">{{ lorem }}</a>
        <a class="o-section-detail--link">{{ lorem }}</a>
        <a class="o-section-detail--link">{{ lorem }}</a>
      </div>
    </div>
  </div>
  <style>
    .o-section--full-{{ this }} {
        background-image: url("img/full-{{ this }}.jpg");
    }
  </style>
  {{/ times }}
</div>
