<div class="o-section">
  {{#each thirdsection }}
  <div class="o-section--item o-section--item--third o-section--bg left-box-arrow col-xs-12 col-md-4 col-md-push-8 u-font-ta-c">
    <div class="o-section-detail--outer__border o-section--detail--center">
      <div class="o-section--detail">
        <div class="o-section--detail-title u-mar-v-medium u-font-sec"><h3>{{sectionTitle}}</h3></div>
        <div class="o-section--strapline u-mar-v-medium u-font-wb">{{sectionStrapline}}</div>
        <!-- {{#each sectionItems}}
        <a class="o-section-detail--link">{{ this }}</a>
        {{/each}} -->
      </div>
    </div>
  </div>
  <div class="o-section--item o-section--item--third o-section--bg o-section--third-{{sectionId}} col-xs-12 col-md-8 col-md-pull-4 u-font-ta-c">
  </div>

  <style>

    .o-section--third-{{sectionId}} {
        background-image: url("{{sectionImage}}");
        background-position: center left;
    }
  </style>
  {{/each }}
</div>