<div class="o-section col-12@xs">
  {{#each thirdsection }}
  <div class="o-section--item o-section--item--third o-section--bg left-box-arrow col-12@xs col-4@md col-push-8@md-up u-font-ta-c">
    <div class="o-section-detail--outer__border o-section__detail--center">
      <div class="o-section__detail">
        <div class="o-section__detail-title u-mar-v-medium u-font-sec"><h3>{{sectionTitle}}</h3></div>
        <div class="o-section--strapline u-mar-v-medium u-font-wb">{{sectionStrapline}}</div>
        <!-- {{#each sectionItems}}
        <a class="o-section__detail-link">{{ this }}</a>
        {{/each}} -->
      </div>
    </div>
  </div>
  <div class="o-section--item o-section--item--third o-section--bg o-section--third-{{sectionId}} col-12@xs col-8@md col-pull-4@md-up u-font-ta-c">
  </div>

  <style>

    .o-section--third-{{sectionId}} {
        background-image: url("{{sectionImage}}");
        background-position: center left;
    }
  </style>
  {{/each }}
</div>
