<div class="o-section col-12@xs">
  {{#each halfsection }}
  <div class="o-section--item o-section--item--half o-section--bg o-section--half-{{sectionId}} col-12@xs col-6@md u-font-ta-c">
    <div class="o-section-detail--outer__border o-section__detail--bottom">
      <div class="o-section__detail">
        <div class="o-section__detail-title">{{sectionTitle}}</div>
        {{#each sectionItems}}
        <a class="o-section__detail-link">{{ this }}</a>
        {{/each}}
      </div>
    </div>
  </div>
  <style>
    .o-section--half-{{sectionId}} {
        background-image: url("{{sectionImage}}");
        background-position: {{imagePosition}};
    }
  </style>
  {{/each}}
</div>
