<div class="row">
  <h2>Labels (_components/_label.scss)</h2>

  <div class="grid-20">
    <h3>Labels &amp; Badges</h3>
    <p>{{lorem count="1" units="paragraphs"}}</p>
  </div>

  <div class="grid-80">

    <h3>Labels </h3>
    <span class="c-lbl c-lbl-primary">{{lorem count="1" units="words"}}</span>
    <span class="c-lbl c-lbl-secondary">{{lorem count="1" units="words"}}</span>
    <br><br>

    <a class="c-lbl c-lbl-primary" href="">{{lorem count="1" units="words"}}</a>
    <a class="c-lbl c-lbl-secondary" href="">{{lorem count="1" units="words"}}</a>


    <h3>Badges </h3>
    <span class="c-lbl c-lbl-primary c-lbl-bdg">{{randomrange 1 999}}</span>
    <span class="c-lbl c-lbl-secondary c-lbl-bdg">{{randomrange 1 999}}</span>
    <br><br>

    <a class="c-lbl c-lbl-primary c-lbl-bdg" href="">{{randomrange 1 999}}</a>
    <a class="c-lbl c-lbl-secondary c-lbl-bdg" href="">{{randomrange 1 999}}</a>

  </div>

</div>