<div class="row">
  <h2>Labels (_components/_label.scss)</h2>

  <div class="grid-20">
    <h3>Labels &amp; Badges</h3>
    <p>{{lorem count="1" units="paragraphs"}}</p>
  </div>

  <div class="grid-80">

    <h3>Labels </h3>
    <span class="c-lbl c-lbl-primary">{{lorem count="1" units="words"}}</span>
    <span class="c-lbl c-lbl-secondary">{{lorem count="1" units="words"}}</span>
    <a class="c-lbl c-lbl-primary">{{lorem count="1" units="words"}}</a>
    <a class="c-lbl c-lbl-secondary">{{lorem count="1" units="words"}}</a>

    <h3>Badges </h3>
    <span class="c-lbl c-lbl-primary c-lbl-bdg">{{randomnum}}</span>
    <span class="c-lbl c-lbl-secondary c-lbl-bdg">{{randomnum}}</span>
  </div>

</div>