<div class="ui-row">
  <div class="ui-grid-left">
    <h3>Button Groups <small>(_objects/_o-button-grp.scss)</small></h3>
  </div>

  <div class="ui-grid-right">
    <br>

    <div class="ui-row">
      <h4>Button Groups Default</h4>
      <div class="ui-grid-50">


        <div class="o-btn-group">
          {{# times 2}}
          <a class="c-btn c-btn-primary">{{lorem}}</a>
          {{/ times}}
          <a class="c-btn c-btn-primary c-btn-dropdown">{{lorem}}<span class="caret"></span></a>
          <div class="c-btn-grp-dropdown">
            <a class="c-btn c-btn-primary">{{lorem}}</a>
            <a class="c-btn c-btn-primary c-btn-dropdown">
              <span class="caret"></span>
            </a>
          </div>
        </div>


      </div>
      <div class="ui-grid-50">


        <div class="o-btn-group">
          {{# times 2}}
          <a class="c-btn c-btn-secondary">{{lorem}}</a> {{/ times}}
          <div class="c-btn-grp-dropdown">
            <a class="c-btn c-btn-secondary">{{lorem}}</a>
            <a class="c-btn c-btn-secondary c-btn-dropdown">
              <span class="caret"></span>
            </a>
          </div>
        </div>


      </div>
    </div>

    <div class="ui-row">

      <div class="ui-row">
        <h4>Button Groups Vertical</h4>
        <div class="ui-grid-50">


          <div class="o-btn-group-vertical">
            {{# times 2}}
            <a class="c-btn c-btn-primary">{{lorem}}</a> {{/ times}}
            <a class="c-btn c-btn-primary c-btn-dropdown">{{lorem}}<span class="caret"></span></a>
          </div>


        </div>
        <div class="ui-grid-50">


          <div class="o-btn-group-vertical">
            {{# times 2}}
            <a class="c-btn c-btn-secondary">{{lorem}}</a> {{/ times}}
            <a class="c-btn c-btn-secondary c-btn-dropdown">{{lorem}}<span class="caret"></span></a>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>


