<div class="ui-colors">

  <div class="col-xs-12">
    <h1>Colour Pallette</h1>
  </div>

  <div class="">
    <div class="col-md-6">

      <div class="col-sm-12">
        <h3>Brand Colours</h3>
        <p>Core colours from brand elements.</p>
      </div>

      <div class="col-sm-3">
        <div class="ui-color-pall u-round u-bgcolor-pri"></div>
        <div class="pallette__info">
          <h5>Red </h5>
          <code>#eb0000</code>
          <p class="u-bgcolor-pri">.u-bgcolor-pri</p>
          <p class="u-color-pri">.u-color-pri</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="ui-color-pall u-round u-bgcolor-dgrey"></div>
        <div class="pallette__info">
          <h5>Dark Grey </h5>
          <code>#383838</code>
          <p class="u-bgcolor-dgrey">.u-bgcolor-dgrey</p>
          <p class="u-color-dgrey">.u-color-dgrey</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="ui-color-pall u-round u-bgcolor-cgrey"></div>
        <div class="pallette__info">
          <h5>Cool Grey </h5>
          <code>#383838</code>
          <p class="u-bgcolor-cgrey">.u-bgcolor-cgrey</p>
          <p class="u-color-cgrey">.u-color-cgrey</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="ui-color-pall u-round u-bgcolor-white"></div>
        <div class="pallette__info">
          <h5>White</h5>
          <code>#ffffff</code>
          <p class="u-bgcolor-white">.u-bgcolor-white</p>
          <p class="u-bgcolor-dgrey u-color-white">.u-color-white</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-12">
        <h3>Supporting Colours</h3>
        <p>Seasonal or secondary colour set.</p>
      </div>
      <div class="col-sm-3">
        <div class="ui-color-pall u-round u-bgcolor-gold">
        </div>
        <div class="pallette__info">
          <h5>Gold </h5>
          <code>#ffb400</code>
          <p class="u-bgcolor-gold">.u-bgcolor-gold</p>
          <p class="u-color-gold">.u-color-gold</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="ui-color-pall u-round u-bgcolor-orange">
        </div>
        <div class="pallette__info">
          <h5>Orange </h5>
          <code>#fe6001</code>
          <p class="u-bgcolor-orange">.u-bgcolor-orange</p>
          <p class="u-color-orange">.u-color-orange</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="ui-color-pall u-round u-bgcolor-magenta">
        </div>
        <div class="pallette__info">
          <h5>Magenta </h5>
          <code>#e51d9b</code>
          <p class="u-bgcolor-magenta">.u-bgcolor-magenta</p>
          <p class="u-color-magenta">.u-color-magenta</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="ui-color-pall u-round u-bgcolor-purple">
        </div>
        <div class="pallette__info">
          <h5>Purple </h5>
          <code>#690b7a</code>
          <p class="u-bgcolor-purple">.u-bgcolor-purple</p>
          <p class="u-color-purple">.u-color-purple</p>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="col-md-6">
      <div class="col-xs-12">
        <h3>Web Colours</h3>
        <p>Brand colours to support UX and used online only.</p>
      </div>
      <div class="col-sm-3">
        <div class="ui-color-pall u-round u-bgcolor-pri-hover">
        </div>
        <div class="pallette__info">
          <h5>Red Hover State </h5>
          <code>#c11e2a</code>
          <p class="u-bgcolor-pri-hover">.u-bgcolor-pri-hover</p>
          <p class="u-color-pri-hover">.u-color-pri-hover</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="ui-color-pall u-round u-bgcolor-dgrey-hover">
        </div>
        <div class="pallette__info">
          <h5>Dark Grey Hover</h5>
          <code>#2d2a2b</code>
          <p class="u-bgcolor-dgrey-hover">.u-bgcolor-dgrey-hover</p>
          <p class="u-color-dgrey-hover">.u-color-dgrey-hover</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="ui-color-pall u-round u-bgcolor-cgrey-hover">
        </div>
        <div class="pallette__info">
          <h5>Cool grey Hover</h5>
          <code>#a2a2a3</code>
          <p class="u-bgcolor-cgrey-hover">.u-bgcolor-cgrey-hover</p>
          <p class="u-color-cgrey-hover">.u-color-cgrey-hover</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="ui-color-pall u-round u-bgcolor-lgrey-hover">
        </div>
        <div class="pallette__info">
          <h5>Light Grey Hover</h5>
          <code>#f5f5f5</code>
          <p class="u-bgcolor-lgrey-hover">.u-bgcolor-lgrey-hover</p>
          <p class="u-color-lgrey-hover">.u-color-lgrey-hover</p>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="row">

  <div class="col-md-6">
    <h3>Red Variations</h3>
    <p>Different variations of red</p>

    {{# times 10}}
    <div class="col-sm-3">
      <div class="ui-color-pall u-round u-bgcolor-pri{{this}}0">
      </div>
      <div class="pallette__info">
        <h5>Red Hover State {{this}}0%</h5>
        <p class="u-bgcolor-pri{{this}}0">.u-bgcolor-pri{{this}}0</p>
        <p class="u-color-pri{{this}}0">.u-color-pri{{this}}0</p>
      </div>
    </div>
    {{/ times }}

  </div>

  <div class="col-md-6">
    <div class="">
      <h3>Grey Variations</h3>
      <p>Different variations of red</p>
    </div>
    {{# times 10}}
    <div class="col-sm-3">
      <div class="ui-color-pall u-round u-bgcolor-grey{{this}}0">
      </div>
      <div class="pallette__info">
        <h5>Grey Hover State {{this}}0%</h5>
        <p class="u-bgcolor-grey{{this}}0 u-color-white">.u-bgcolor-grey{{this}}0</p>
        <p class="u-color-grey{{this}}0">.u-color-grey{{this}}0</p>
      </div>
    </div>
    {{/ times }}
  </div>
</div>
<div class="ui-grid-50">
  <pre>
      <code class="css">/**<br />
     * Matalan UI Kit Colors<br />
     */<br /><br />

    $white: #fff;<br />
    $black: #000;<br /><br />

    /* <br />
     * BRanding colours<br />
     */<br />
    $matalan-brand: #eb0000;<br />
    $dark-grey: #383838;<br />
    $cool-grey: #b2b3b5;<br />
    $light-grey: #ececec;<br /><br />

    /* <br />
     * Supporting Colors - requested names tbc<br />
     */<br />
    $supp-gold: #ffb400;<br />
    $supp-orange: #fe6001;<br />
    $supp-magenta: #e51d9b;<br />
    $supp-purple: #690b7a;<br /><br />

    /* <br />
     * Web Coloursr<br />
     */<br />
    $matalan-brand-hover: #c11e2a;<br />
    $dark-grey-hover: #2d2a2b;<br />
    $cool-grey-hover: #a2a2a3;<br />
    $light-grey-hover: #f5f5f5;<br />
    $keyline-color: #e0e0e2;

      </code>
    </pre>
</div>
<div class="ui-grid-50">
  <pre>
      <code class="css">/* <br />
     * Mappings<br />
     */<br />
    $primary-color: $matalan-brand;<br />
    $primary-color-hover: $matalan-brand-hover;<br />
    $secondary-color: $light-grey;<br /><br />
    /* <br />
     * Fading primary color<br />
     */<br />
    $primary-lighten-100<br />
    $primary-lighten-90<br />
    $primary-lighten-80<br />
    $primary-lighten-70<br />
    $primary-lighten-60<br />
    $primary-lighten-50<br />
    $primary-lighten-40<br />
    $primary-lighten-30<br />
    $primary-lighten-20<br />
    $primary-lighten-10<br /><br />

    /* <br />
     * Fading Dark to grey<br />
     */<br />
    $dark-grey-lighten-100<br />
    $dark-grey-lighten-90<br />
    $dark-grey-lighten-80<br />
    $dark-grey-lighten-70<br />
    $dark-grey-lighten-60<br />
    $dark-grey-lighten-50<br />
    $dark-grey-lighten-40<br />
    $dark-grey-lighten-30<br />
    $dark-grey-lighten-20<br />
    $dark-grey-lighten-10
      </code>
    </pre>
</div>
