<div class="ui-row">


  <div class="col-12@sm">
    <h2>Labels</h2>
    <p>To mark up and inform, to aid the user experience.</p>
  </div>

  <div class="col-12@sm">

    <h3>Labels </h3>
    <span class="c-lbl c-lbl-primary">{{lorem count="1" units="words"}}</span>
    <span class="c-lbl c-lbl-secondary">{{lorem count="1" units="words"}}</span>
    <br><br>

    <a class="c-lbl c-lbl-primary" href="">{{lorem count="1" units="words"}}</a>
    <a class="c-lbl c-lbl-secondary" href="">{{lorem count="1" units="words"}}</a>


    <h3>Badges </h3>
    <span class="c-lbl c-lbl-primary c-lbl-bdg">{{randomnumrange 1 999}}</span>
    <span class="c-lbl c-lbl-secondary c-lbl-bdg">{{randomnumrange 1 999}}</span>
    <br><br>

    <a class="c-lbl c-lbl-primary c-lbl-bdg" href="">{{randomnumrange 1 999}}</a>
    <a class="c-lbl c-lbl-secondary c-lbl-bdg" href="">{{randomnumrange 1 999}}</a>

  </div>

</div>
