<div class="ui-row">
  <div class="col-sm-12">
    <h3>Lists</h3>
    <p>Lists of things</p>
  </div>
  <div class="col-sm-12 no-pad">
    <div class="ui-row">
      <h3>Lists</h3>
      <div class="col-sm-12 col-md-6 col-lg-4">


        <ul class="o-list-block">
          <li class="o-list__item o-list-heading">Block list<small>Unstyled</small></li>
          {{#times 3}}
          <li class="o-list__item">List Block
            <span class="c-lbl c-lbl-primary c-lbl-bdg list-addon__right">{{randomnum}}</span>
          </li>
          <a class="o-list__item" href="">List Block
            <span class="c-lbl c-lbl-secondary c-lbl-bdg list-addon__right">{{randomnum}}</span>
          </a>
          {{/times}}
        </ul>


      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">


        <ul class="o-list-block o-list--vertical-sep">
          <li class="o-list__item o-list-heading">Block list<small>Separator</small></li>
          {{#times 3}}
          <li class="o-list__item">List Block</li>
          <a class="o-list__item" href="">List Block</a>
          {{/times}}
        </ul>


      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">


        <ul class="o-list-block o-list--bordered">
          <li class="o-list__item o-list-heading">Block list<small>Bordered</small></li>
          {{#times 3}}
          <li class="o-list__item">List Block Bordered
            <span class="c-lbl c-lbl-secondary c-lbl-bdg list-addon__right">{{randomnum}}</span>
          </li>
          <a class="o-list__item" href="">List Block Bordered <small>{{this}}</small></a>
          {{/times}}
        </ul>



      </div>
    </div>
    <div class="ui-row">
      <h3>Lists</h3>
      <div class="col-sm-12 col-md-6 col-lg-4">


        <ul class="o-list-ui">
          <li class="o-list__item o-list-heading">List UI<small>Borderless</small></li>
          {{#times 3}}
          <li class="o-list__item">List UI <small>{{this}}</small></li>
          <a class="o-list__item" href="">List UI <small>{{this}}</small></a>
          {{/times}}
        </ul>


      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">


        <ul class="o-list-ui o-list--vertical-sep">
          <li class="o-list__item o-list-heading">List UI<small>Separator</small></li>
          {{#times 3}}
          <li class="o-list__item">List UI <small>{{this}}</small></li>
          <a class="o-list__item" href="">List UI <small>{{this}}</small></a>
          {{/times}}
        </ul>


      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">


        <ul class="o-list-ui o-list--bordered">
          <li class="o-list__item o-list-heading">List UI<small>Bordered</small></li>
          {{#times 3}}
          <li class="o-list__item">List UI
            <span class="c-lbl c-lbl-primary c-lbl-bdg list-addon__right">{{randomnum}}</span>
          </li>
          <a class="o-list__item" href="">List UI <small>{{this}}</small></a>
          {{/times}}
        </ul>


      </div>
    </div>
    <div class="ui-row">
      <div class="col-sm-12 col-md-12 col-lg-8">
        <h3>Lists</h3>

        <ul class="o-list-inline">
          {{#times 3}}
          <li>List Inline <small>{{this}}</small></li>
          {{/times}}
        </ul>
        <br>
        <br>


        <ul class="o-list-inline o-list-inline__delimited">
          {{#times 3}}
          <li>List Inline Delim <small>{{this}}</small></li>
          {{/times}}
        </ul>

        <br>
        <br>


        <ul class="o-list-text">
          {{#times 3}}
          <li class="o-list__item">List Text <small>{{this}}</small> -<small>{{lorem count="14"}}</small></li>
          {{/times}}
        </ul>


      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <h3>Definition List</h3>


        <dl class="o-dl-plain">
          <dt>Definition Type</dt>
          <dd>{{lorem count="5"}}</dd>
          <dt>Definition Type</dt>
          <dd>{{lorem count="5"}}</dd>
          <dt>Definition Type</dt>
          <dd>{{lorem count="5"}}</dd>
        </dl>


      </div>
    </div>
  </div>
</div>
