<a class="c-btn c-btn-secondary c-btn--block hidden@md-up u-mar-v-small">Checkout</a>
<p class="hidden@lg-up u-mar-v-small">
  {{minibag.category.collection.products.length}} Items in your bag
</p>

<ul class="o-minibag--list-contain">

  {{#each minibag.category.collection.products}}
  <li class="o-minibag--list o-minibag--list-item row">

    <div class="o-minibag--list-item--image col-3@xs col-2@md col-3@lg u-pad-r-0">
      <img class="img" src="{{productImages.[0]}}">
    </div>

    <div class="o-minibag--list-item--detail col-9@xs col-10@md col-6@lg u-pad-r-0">
      <a href="./pdp.html" class="detail--description u-font-wb">{{productTitle}}</a>
      <ul class="detail--price">
        <li class="list__item">
          <strong><span class="u-color-dgrey">Price:</span> {{productPrice}}</strong>
        </li>
        <!-- Only show if there is a saving
        <li class="list__item hidden@lg-up">Save: £0.00</li>
        -->
      </ul>
      <ul class="detail--vars u-pad-b-small list-space__small">
        <li class="list__item">Color:
          <span class="color-swatch__inline u-bgcolor-cgrey"></span>
        </li>
        <li class="list__item">Size: {{productSize}}</li>
      </ul>
    </div>

    <div class="o-minibag--list-item--control col-3@lg hidden@md-down u-font-ta-r">
      <select class="o-minibag--control--select selectbox-dropdown__inline">
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
      <div class="o-minibag--control--remove">
        <a class="link u-font-no-underline" href="#">
          <span class="hidden@md-down">&times;</span> remove</a>
      </div>
    </div>

    <div class="o-minibag--list-item--control o-minibag--list-item--quant col-9@xs col-10@md hidden@lg-up u-fr">
        <div class="o-minibag--control--remove col-4@xs u-pad-0">
          <a class="c-btn c-btn-tertiary--alt u-font-no-underline" href="#">
            <span class="hidden@lg-down">&times;</span> remove</a>
        </div>
        <div class="o-form__input-contain o-form__input-contain--quantity col-8@xs u-pad-0 u-font-ta-r">
          <a class="c-btn c-btn-primary u-font-no-underline js-remove-item">-</a>
          <span class="o-input--textual js-item-count">1</span>
          <input type="hidden" class="o-input o-input--textual u-pad-h-0 u-font-ta-r" value="1" readonly>
          <a class="c-btn c-btn-primary u-font-no-underline js-add-item">+</a>
        </div>
    </div>

  </li>
  {{/ each }}

</ul>

