<div class="row">
  <div class="col-xs-12">
    <nav class="c-navbar-container" data-app="accessible-navmenu">
      <ul class="accessible-navmenu c-navbar">

        <li class="navbar--header">
          <a class="link u-font-ta-c">
            <i class="nav-mobile-button icon icon-location"></i>
            <span>Store</span>
          </a>
          <a class="link u-font-ta-c">
            <i class="nav-mobile-button icon icon-user-male"></i>
            <span>Account</span>
          </a>
          <a class="link u-font-ta-c">
            <i class="nav-mobile-button icon icon-cross"></i>
            <span>Close</span>
          </a>
        </li>


        {{#each menuItems}}

        <li class="navbar--top-item">
          <a class="link" href="{{secLink}}">
            {{secTitle}}
            <span class="nav-menu-icons u-fr">
              <span><i class="icon icon-minus"></i></span>
              <span><i class="icon icon-plus"></i></span>
              <span><i class="icon icon-arr-forward"></i></span>
            </span>
          </a>
          <div class="sub-nav">
            <div class="sub-nav--group--container">

              {{#with categories}} {{#each this}}
              <ul class="sub-nav-group">
                <li class="sub-nav-title">
                  <a class="link" href="">
                    {{catTitle}}
                    <span class="nav-menu-icons u-fr">
                      <span><i class="icon icon-minus"></i></span>
                      <span><i class="icon icon-plus"></i></span>
                      <span><i class="icon icon-arr-forward"></i></span>
                    </span>
                  </a>
                  </li>
                  {{#with collection}} {{#each this}}
                  <li class="sub-nav-item">
                    <a class="link" href="{{this}}">
                      {{{@key}}}
                      <span class="nav-menu-icons u-fr">
                        <span><i class="icon icon-arr-forward"></i></span>
                      </span>
                    </a>
                  </li>
                  {{/each}} {{/with}}
                </li>
              </ul>
              {{/each}} {{/with}}

              {{#with collection}}
              <ul class="sub-nav-group">
                {{#each this}}
                <li class="sub-nav-item"><a href="{{this}}">{{{@key}}}</a></li>
                {{/each}}
              </ul>
              {{/with}}

              <ul class="sub-nav-group__image">
                <li><img src="../img/quarter-{{ @index }}.jpg"></li>
              </ul>

            </div>
          </div>
        </li>
        {{/each }}



        <li class="navbar--footer">
          <a class="link u-font-ta-c">
            <span>Delivery</span>
          </a>
          <a class="link u-font-ta-c">
            <span>Returns</span>
          </a>
          <a class="link u-font-ta-c">
            <span>Contact</span>
          </a>
        </li>

      </ul>
    </nav>
  </div>
</div>


