<div class="xx-row">
  <div class="col-12@xs">
    <h2>Tabs &amp; Pills<small>(..)</small></h2>
    <p>Tabs and pills are horizontal by default, just add a second class, .nav-stacked, to make them appear vertically stacked.</p>
  </div>
  <div class="col-12@xs">

    <!-- pills horizontal -->
    <h4>Pills Horizontal</h4>
    <div class="c-tabs c-tabs--pills c-tabs--pills--horizontal ">
      <ul class="c-tabs__header" role="tablist">
        <li class="c-tabs__header__item">
          <a href="#home1" data-toggle="tab" role="tab">Home</a>
        </li>
        <li class="c-tabs__header__item">
          <a href="#profile1" data-toggle="tab" role="tab">Profile</a>
        </li>
        <li class="c-tabs__header__item">
          <a href="#messages1" data-toggle="tab" role="tab">Messages</a>
        </li>
        <li class="c-tabs__header__item">
          <a href="#settings1" data-toggle="tab" role="tab">Settings</a>
        </li>
      </ul>
      <div class="c-tabs__content">
        <div role="tabpanel" class="c-tabs__content__pane" id="home1">
           <strong>Pills Horizontal tab 1.</strong> {{lorem count=100}}
        </div>
        <div role="tabpanel" class="c-tabs__content__pane" id="profile1">
           <strong>Pills Horizontal tab 2.</strong> {{lorem count=100}}
        </div>
        <div role="tabpanel" class="c-tabs__content__pane" id="messages1">
          <strong>Pills Horizontal tab 3.</strong> {{lorem count=100}}
        </div>
        <div role="tabpanel" class="c-tabs__content__pane" id="settings1">
          <strong>Pills Horizontal tab 4.</strong> {{lorem count=100}}
        </div>
      </div>
    </div>

    <hr>

    <!-- pills vertical -->
    <h4>Pills Vertical</h4>
    <div class="c-tabs c-tabs--pills c-tabs--pills--vertical">
      <ul class="c-tabs__header" role="tablist">
        <li class="c-tabs__header__item">
          <a href="#home2" data-toggle="tab" role="tab">Home</a>
        </li>
        <li class="c-tabs__header__item">
          <a href="#profile2" data-toggle="tab" role="tab">Profile</a>
        </li>
        <li class="c-tabs__header__item">
          <a href="#messages2" data-toggle="tab" role="tab">Messages</a>
        </li>
        <li class="c-tabs__header__item">
          <a href="#settings2" data-toggle="tab" role="tab">Settings</a>
        </li>
      </ul>
      <div class="c-tabs__content">
        <div role="tabpanel" class="c-tabs__content__pane" id="home2">
          <strong>Pills vertical tab 1.</strong> {{lorem count=100}}
        </div>
        <div role="tabpanel" class="c-tabs__content__pane" id="profile2">
          <strong>Pills vertical tab 2.</strong> {{lorem count=100}}
        </div>
        <div role="tabpanel" class="c-tabs__content__pane" id="messages2">
          <strong>Pills vertical tab 3.</strong> {{lorem count=100}}
        </div>
        <div role="tabpanel" class="c-tabs__content__pane" id="settings2">
          <strong>Pills vertical tab 4.</strong> {{lorem count=100}}
        </div>
      </div>
    </div>

    <hr>

    <!-- tabs horizontal -->
    <h4>Tabs Horizontal</h4>
    <div class="c-tabs c-tabs--tab c-tabs--tab--horizontal">
      <ul class="c-tabs__header" role="tablist">
        <li class="c-tabs__header__item">
          <a href="#home3" data-toggle="tab" role="tab">Home</a>
        </li>
        <li class="c-tabs__header__item">
          <a href="#profile3" data-toggle="tab" role="tab">Profile</a>
        </li>
        <li class="c-tabs__header__item">
          <a href="#messages3" data-toggle="tab" role="tab">Messages</a>
        </li>
        <li class="c-tabs__header__item">
          <a href="#settings3" data-toggle="tab" role="tab">Settings</a>
        </li>
      </ul>
      <div class="c-tabs__content">
        <div role="tabpanel" class="c-tabs__content__pane" id="home3">
          <strong>Tabs Horizontal tab 1.</strong> {{lorem count=100}}
        </div>
        <div role="tabpanel" class="c-tabs__content__pane" id="profile3">
          <strong>Tabs Horizontal tab 2.</strong> {{lorem count=100}}
        </div>
        <div role="tabpanel" class="c-tabs__content__pane" id="messages3">
          <strong>Tabs Horizontal tab 3.</strong> {{lorem count=100}}
        </div>
        <div role="tabpanel" class="c-tabs__content__pane" id="settings3">
          <strong>Tabs Horizontal tab 4.</strong> {{lorem count=100}}
        </div>
      </div>
    </div>

    <hr>

    <!-- tabs vertical -->
    <h4>Tabs Vertical</h4>
    <div class="c-tabs c-tabs--tab c-tabs--tab--vertical">
      <ul class="c-tabs__header" role="tablist">
        <li class="c-tabs__header__item">
          <a href="#home4" data-toggle="tab" role="tab">Home</a>
        </li>
        <li class="c-tabs__header__item">
          <a href="#profile4" data-toggle="tab" role="tab">Profile</a>
        </li>
        <li class="c-tabs__header__item">
          <a href="#messages4" data-toggle="tab" role="tab">Messages</a>
        </li>
        <li class="c-tabs__header__item">
          <a href="#settings4" data-toggle="tab" role="tab">Settings</a>
        </li>
      </ul>
      <div class="c-tabs__content">
        <div role="tabpanel" class="c-tabs__content__pane" id="home4">
          <strong>Tabs Vertical tab 1.</strong> {{lorem count=100}}
        </div>
        <div role="tabpanel" class="c-tabs__content__pane" id="profile4">
          <strong>Tabs Vertical tab 2.</strong> {{lorem count=100}}
        </div>
        <div role="tabpanel" class="c-tabs__content__pane" id="messages4">
          <strong>Tabs Vertical tab 3.</strong> {{lorem count=100}}
        </div>
        <div role="tabpanel" class="c-tabs__content__pane" id="settings4">
          <strong>Tabs Vertical tab 4.</strong> {{lorem count=100}}
        </div>
      </div>
    </div>

  </div>
</div>
