<div class="row">
  <div class="col-xs-12">
    <nav class="c-navbar-container js-scroll-hold u-scrollbar" data-app="accessible-navmenu" data-scroll-responsive="sm-md">

      <ul class="accessible-navmenu c-navbar">

        <li class="navbar__header">
          <a class="link u-font-ta-c">
            <i class="nav-mobile-button icon icon-location"></i>
            <span>Stores</span>
          </a>
          <a class="link u-font-ta-c u-mar-l-medium">
            <i class="nav-mobile-button icon icon-user-male"></i>
            <span>Account</span>
          </a>
          <a class="link u-font-ta-c">
            <i class="nav-mobile-button icon icon-cross"></i>
            <span>Close</span>
          </a>
        </li>

        {{#each menuItems}}
        <li class="navbar__top-item">
          <a class="link" href="{{seclink}}">
            {{secTitle}}
            <span class="navbar__nav-menu-icons">
              <span><i class="icon icon-minus"></i></span>
              <span><i class="icon icon-plus"></i></span>
              <span><i class="icon icon-arr-forward"></i></span>
            </span>
          </a>
          {{#if categories}}
          <div class="sub-nav">
            <div class="sub-nav__group-container">

              {{#with categories}} {{#each this}}
              <ul class="sub-nav-group">
                <li class="sub-nav-title">
                  <a class="link" href="{{catLink}}">
                    {{catTitle}}
                    <span class="navbar__nav-menu-icons">
                      <span><i class="icon icon-minus"></i></span>
                      <span><i class="icon icon-plus"></i></span>
                      <span><i class="icon icon-arr-forward"></i></span>
                    </span>
                  </a>
                </li>
                {{#with collection}} {{#each this}}
                <li class="sub-nav-item">
                  <a class="link" href="category-results.html">
                    {{{@key}}}
                    <span class="navbar__nav-menu-icons">
                      <span><i class="icon icon-arr-forward"></i></span>
                    </span>
                  </a>
                </li>
                {{/each}} {{/with}}
            </ul>
            {{/each}} {{/with}}

            {{#with collection}}
            <ul class="sub-nav-group">
              {{#each this}}
              <li class="sub-nav-item"><a href="{{{@value}}}">{{{@key}}}</a></li>
              {{/each}}
            </ul>
            {{/with}}

            <ul class="sub-nav-group__image">
              <li><img src="{{sectionImage}}"></li>
            </ul>

          </div>
        </div>
        {{/if}}
      </li>
      {{/each }}



      <li class="navbar__footer">
        <a class="link u-font-ta-c">
          <span>Delivery</span>
        </a>
        <a class="link u-font-ta-c">
          <span>Returns</span>
        </a>
        <a class="link u-font-ta-c">
          <span>Contact</span>
        </a>
      </li>

    </ul>
  </nav>
</div>
</div>


