<div class="search-results__item u-font-ta-c u-mar-b-medium">

  <a href="{{ productLink }}" class="">

    <div class="results__image">
      <img class="product__image" src="{{productImages.[0]}}" onmouseover="this.src='{{productImages.[1]}}'" onmouseout="this.src='{{productImages.[0]}}'">
      <img src="img/roundel/plp-size1828.svg" class="c-roundel c-roundel__pri c-roundel--custom roundel-pos-tl" />
      <img src="img/roundel/test-roundel.svg" class="c-roundel c-roundel__pri c-roundel--custom roundel-pos-tr" />
    </div>

    <div class="u-mar-b-tiny u-cf">

      <!-- this is fake logic, just to provide a bit of randomisation until we have products flagged for sale properly -->
      {{#xif " this.productRating == 4 "}}
      <div class="c-promo c-promo--block c-promo--small c-promo--primary">
        <strong>50% off </strong>
      </div>
      {{else}}
      <div class="c-promo c-promo--block c-promo--small c-promo--none">
        &nbsp;
      </div>
      {{/xif}}

    </div>


    <div class="results__detail">
      <div class="results__detail__title u-mar-t-small u-pad-h-medium u-font--small">{{productTitle}}</div>

      <div class="results__detail__price u-font-wb">
        {{#if nowPrice}}
        <span class="u-color-pri">Now {{nowPrice}} to {{nowPrice}}</span>
        {{else}}
          <span>{{productPrice}} to {{productPrice}}</span>
        {{/if}}
      </div>

      <div class="results__detail__price--was u-font--small">
        {{#if nowPrice}}
        <span class="u-font-strikethrough u-font--small">Was {{productPrice}} to {{productPrice}}</span>
        {{ else }}
        <span>&nbsp;</span>
        {{/if}}
      </div>

    </div>

  </a>

  <a class="c-btn--block u-mar-v-small" href="">
    <div class="c-btn c-btn-tertiary--alt c-btn--small u-font-upper">View</div>
  </a>

  <div class="rating rating__small" data-rating="{{productRating}}">
    <i class="icon icon-star-fill"></i>
    <i class="icon icon-star-fill"></i>
    <i class="icon icon-star-fill"></i>
    <i class="icon icon-star-fill"></i>
    <i class="icon icon-star-fill"></i>
  </div>


  <a class="link u-font--smaller" href="#">More Colours Available</a>

</div>